:global:
  :dryrun: false
BitBucket:
  :username: "jbraeuer"
  :password: "XXXXXXXXXXXXXXXXXX"
  :directory: "/tmp/bitbucket"
GitHub:
  :username: "jbraeuer"
  :password: "YYYYYYYYYYYYYYYYYY"
  :directory: "/tmp/github"
  :excludes:
    - NumberFour
    - ^mcollective
